# ===============================
# Python / Flask
# ===============================
__pycache__/
*.pyc
*.pyo
.env
.env.*
venv/
.venv/

# ===============================
# Node / React
# ===============================
node_modules/
dist/
.vite/

# ===============================
# OS / Editor
# ===============================
.DS_Store
.idea/
.vscode/
