/* ==================================
   BARACBAU – global.css
   Globale Basis-Styles
   ================================== */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-layout {
  position: relative;
  min-height: 100vh;
}
